</main>
<footer >
<div >
    <div class="spacer">
    <div class="container d-flex justify-content-center py-2">
        <h8 class="my-auto">© MaximoStore 2023-Todos los Derechos Reservados</h8>
    </div>
    </div>
</div>
</footer>
</body>
</html>
